.idea/
.vs/
.vscode/
.VSCodeCounter/
**/.cache/

.todolist
.opencmlrc

cmake-build-debug/
node_modules/
antlr/.antlr/
src/antlr/
vendor/
build/
dist/
out/

*.cmo
camel.exe
result.json
CMakeUserPresets.json