.idea/
.venv/
.vs/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.VSCodeCounter/
**/.cache/

.todolist
.opencmlrc
.pypirc

cmake-build-debug/
node_modules/
antlr/.antlr/
src/parse/antlr
vendor/
legacy/
build/
dist/
out/

*.cmo
camel
camel.exe
result.json
CMakeUserPresets.json
perf.data
perf.data.old
profile.json.gz

pypi/camel-lang/bin/
pypi/camel-lang/stdlib/
pypi/camel-lang/src/camel_lang.egg-info

profiler_reports/