.idea/
.venv/
.vs/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.VSCodeCounter/
**/.cache/
__pycache__/

.todolist
.opencmlrc
.pypirc
.camel-opts.json

cmake-build-debug/
node_modules/
antlr/.antlr/
src/parse/antlr
include/camel/parse/antlr
vendor/
legacy/
build/
dist/
out/
tmp/
modules/python/dlls/
modules/python/sdks/

*.cmo
./camel
camel.exe
libcamel.dll
libcamel.dylib
libcamel.so
python311.dll
result.json
CMakeUserPresets.json
perf.data
perf.data.old
profile.json.gz

pypi/camel-lang/bin/
pypi/camel-lang/stdlib/
pypi/camel-lang/wrapper-dist/
pypi/camel-lang/src/camel_lang.egg-info

profile_reports/

.cursor/
.claude/